<div class='circular'></div>
<h1>Jeff Saracco</h1>
<div class="social">
  <a href="http://twitter.com/jsaracco" target="_blank">
    <i class="fa fa-twitter"></i>
  </a>
  <a href="https://www.linkedin.com/in/jeffsaracco" target="_blank">
    <i class="fa fa-linkedin"></i>
  </a>
  <a href="http://github.com/jeffsaracco" target="_blank">
    <i class="fa fa-github-alt"></i>
  </a>
  <a href="http://stackoverflow.com/users/121379/jeffsaracco" target="_blank">
    <i class="fa fa-stack-overflow"></i>
  </a>
  <a href="http://blog.jeffsaracco.com" target="_blank">
    <i class="fa fa-book"></i>
  </a>
  <iframe src='https://www.linkedin.com/in/jeffsaracco' height=1 width=1></iframe>
</div>
